* {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	font-family: 
	box-sizing: border-box;
}

.sticky {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 1;
}

html {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	font-weight: 100;
	font-style: normal;
}

body {
	display: block;
	margin: 0;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-family: Bison, sans-serif;
	line-height: 1.2;
	letter-spacing: .03em;
}

h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1em;
}
h4 {
	font-size: 0.8em;
}
h2, h3 {
	margin-bottom: 1.17em;
}

p {
	margin: 0 0 1em;
}

a {
  color: #000000;
}

li {
	line-height: 1.5em;
	margin-bottom: .5em;
	list-style: square;
}

.highlight, mark {
	background-color: yellow;
}

div.chat {
	position: fixed;
 	bottom: 4%;
 	right: 2.7%;
 	z-index: 1;
}

.chat img {
	width: 52px;
 	height: 52px;
 	border-radius: 0.32rem;
}

.title h1 {
	background-image: url('images/background-image.svg');
	margin: 0;
	padding: 3.2em 0;
}

#bcs {
	text-align: left;
	font-size: 0.8em;
	margin-left: 3em;
}
.nav {
	display: flex;
	justify-content: space-between;
	background: black;
	color: white;
	padding: 1% 10%;
	position fixed; /* makes navbar smaller and flex not working*/
	top: 0;
	position: sticky;
	position: -webkit-sticky;
	z-index: 1;
}

.small {
		display: none;
}

.input {
	border: 1px solid grey;
	margin-bottom: 1em;
	margin-left: 2%;
	margin-top: 1em;
	background-color: white;
	padding: 0.8em;
}
#subname, #submail, #submit {
	width: 25%;
}

#home {
	text-decoration: none;
	color: white;
}
.inquiry {
	margin-top: 1.8em;
	margin-bottom: 1.3em;
}
textarea {
	width: 97%;
	padding: 0.5em;
	overflow: auto;
}
#name, #mail {
	width: 44.5%;
	margin-left: 0;
}
#name {
	margin-right: 2%;
}

#robot {
	width: 1.3em;
	margin-bottom: 2em;
	margin-top: 2em;
	padding: 0.5em;
	height: 2em;
}

#send {
	width: 100%;
	border: 1px solid grey;
	background-color: white;
	padding: 0.8em;
	margin-top: 1em;
}

.grid-big-white {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 1em;
	padding: 2em 10%;
	margin-bottom: 2em;
}

img.banner {
	max-width: 100%;
	padding: 0;
	margin: 0 0 1em;
	filter: grayscale(100%);
}

.grid-students {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}

img.profile {
	border-radius: 50%;
	max-width: 80%;
	margin: 1em auto;
	display: block;
	filter: grayscale(100%);
}
img.students {
	grid-column: 2/3;
}

.imgLogo {
	height: 30px;
	margin-right: 5%;
	vertical-align: middle;
}

.grid-bootcamp {
	display: grid;
	grid-template-columns: 1fr 6fr 4fr;
	grid-gap: 1em;
	border: 1px solid grey;
	margin-bottom: 1em;
	text-align: left;
	padding: 1em;
	box-shadow: -3px 3px #000;
}

.button {
	margin-bottom: 1em;
	width: 100%;
	padding: 0.5em;
	border: 1px solid black;
	background-color: white;
	font-size: medium;
}
p.terms {
	font-size: small;
}

.partners img {
	width: 100%;
	height: auto;
}

.partners-img img {
	width: 10%;
	margin-right:2%;
	vertical-align: middle;
	filter: grayscale(100%);
}
img {
	margin: 0 0 1em;
}
#atrapalo {
	background-color: black;
}
#coursicab {
	background-color: lightgrey;
}
footer {
	padding: 2em 10%;
	margin-bottom: 0;
	background-color: black;
	color: white;
}

footer h2 {
	font-size: 1.1em;
}

footer p {
	font-size: 0.9em;
}
.grid-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	}
.copy {
	margin-top: 2.5em;
}

/*======== MOBILE ======== */

@media (max-width: 800px) {

	/*.desktop {
		display: none;
	}*/

	.small {
		position: sticky;
		padding: 0 1em;
	}
	.small img {
		width: 5%;
		height: 5%;
		margin: 1em 0;
	}
	h2 {
		margin-top: 2em;
	}
	.grid-bootcamp h4 {
		margin-bottom: 0;
	}

	.grid-bootcamp h2 {
		margin-top: 1em;
	}
	.grid-big-white {
		display: block;
		grid-template-columns: 1fr;
		/*grid-gap: 1em;*/
		padding: 2em 1em;
		/*margin-bottom: 2em;*/
	}

	.grid-students,
	.grid-footer,
	.grid-bootcamp {
		display: grid;
		grid-template-columns: 1fr;
	}
	#bcs {
		margin-left: 0.7em;
	}

	.title h1 {
		padding: 2em 0;
	}

	#name, #mail {
		width: 42.5%;
		margin-left: 0;
	}
	#name {
		margin-right: 1%;
	}
	div.chat {
		bottom: 1%;
	}
}